<%= link_to 'Редактировать', edit_task_path, class: 'btn btn-outline-primary me-2' %>
<h4><%= @task.title %></h4>
<p><%= @task.body %></p>
<%= button_to 'Начать отчет времени', task_timers_path(@task.id), method: :post %>
