h3 Редактировать время
= @timer.total_time / 3600 
|:
= (@timer.total_time % 3600) / 60
|:
= @timer.total_time % 60

.card
  = form_with(model: [@task, @timer], url: task_timer_path(@task, @timer), method: :patch ) do |f|
    div
      h4 Сколько времени было потрачено?
      p
        = f.number_field :hours, value: @timer.total_time / 3600
				| часов
      p
        = f.number_field :minutes, value: (@timer.total_time % 3600) / 60
				| минут
      p
        = f.number_field :seconds, value: @timer.total_time % 60 
				| секунд    
    = f.submit 'Сохранить время', class: 'btn btn-secondary' 
hr
= button_to 'Удалить запись', task_timer_path(@task, @timer), method: :delete, class: 'btn btn-danger'